name: Spring Boot & Gradle CI/CD 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    # 실행 환경 지정
    runs-on: self-hosted

    # Task의 sequence를 명시한다.
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
    
    - name: mkdir
      run: mkdir src/main/resources
    
    # applicaton.yml 가져오기
    - name: Copy yaml file
      run: cp /home/hongchanhui/src/main/resources/application.yml src/main/resources/application.yml
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Build kapt
      run: ./gradlew kaptKotlin
    
    - name: Build with Gradle
      run: ./gradlew build
      
    - name: Copy Home
      run: cp build/libs/sesacthon-0.0.1-SNAPSHOT.jar /home/hongchanhui/build/libs/sesacthon-0.0.1-SNAPSHOT.jar
      
    # 기본꺼 종료하고 다시 실행시키는 스크립트 실행
    - name: Stop And Run
      run: /home/hongchanhui/server-restart-sesacthon.sh
    
    - name: Start
      run: java -jar ./build/libs/sesacthon-0.0.1-SNAPSHOT.jar &
